button#evl-jukebox_getdata.btn-xs.btn-primary(type="button", style="width: 100%; margin-top: 4px;") Get JUKEBOXED!
button#evl-jukebox_in.btn.btn-xs.btn-success(type="button", style="width:45%; margin-right: 5%; margin-top: 4px;") Ticker On
button#evl-jukebox_out.btn.btn-xs.btn-danger(type="button", style="width:45%; margin-left: 5%; margin-top: 4px;") Ticker Off
