@font-face {
font-family: juice;
src: url(fonts/JUICE_Regular.ttf);

}
@font-face {
font-family: code;
src: url(fonts/CODE_Bold.otf);

}
#container {
  width: 1280px;
  height: 720px;
  position:absolute;
  top:0;
  left:0

}
#shape {
   width: 70px;
    height: 0;
    
    background-size: 80px;
    background-repeat:no-repeat;
    position: absolute;
    top: 0;
    left:-100px;
    z-index: 1;
    display:inline-block;
margin: 0 0 10px 0;
border-top: 35px solid #222222;
border-right: 10px solid transparent;

}
#ticker-heading {

  width: 110px;
  height:0 ;
 display:inline;
 float:left;
  position: absolute;
    top:2px;
    left: -150px;
      font-family: juice;
text-align:center;
padding-left: 15px;
padding-right:5px;
margin: 0 0 10px 0;
border-bottom: 30px solid #58798a;
border-right: 10px solid transparent;


}
#matchid {
 
    white-space:nowrap;
    font-family: code;
    max-width: 40.5%;
    min-width: 33%;
     width: auto;
   
    display:inline-block;
    height:0;
     position: absolute;
   top: 2px;
    left:-450px;
z-index: -2;
   line-height: 30px;
    font-size: 16px; 
margin: 0 0 10px 0;
border-bottom: 30px solid #bc3b3a;
border-right: 10px solid transparent;
color:white;
}
.match-info {
    display:inline-block;
    width: 200px; 
}
.team-names {
  display:inline-block;
}
.team-scores {
   display:inline-block;
   margin-left: 20px;
}
.map-info {  display:inline-block;
   margin-left: 20px;}
.map-state {
display:inline-block;
margin-left: 20px;
 }
h2 {
  font-size: 14px ;
  color:white;
  margin:0;
  padding:0;
line-height:30px;
  
}
