@font-face {
font-family: juice;
src: url(fonts/JUICE_Regular.ttf);

}
@font-face {
font-family: code;
src: url(fonts/CODE_Bold.otf);

}
#container {
  width: 1280px;
  height: 720px;
  position:absolute;
  top:0;
  left:0

}
#shape {
   width: 70px;
    height: 0;
    
    background-size: 80px;
    background-repeat:no-repeat;
    position: absolute;
    top: 0;
    left:-100px;
    z-index: 1;
    display:inline-block;
margin: 0 0 10px 0;
border-top: 75px solid #222222;
border-right: 20px solid transparent;

}
#ticker-heading {

  width: 140px;
  height:0 ;
  letter-spacing: 2px;
 display:inline;
 float:left;
  position: absolute;
    top:2px;
    left: -190px;
      font-family: code;
text-align:center;
padding-left: 20px;
margin: 0 0 10px 0;
border-bottom: 30px solid #58798a;
border-right: 10px solid transparent;


}
#matchid {
 
    white-space:nowrap;
    font-family: juice;
    max-width: 40.5%;
    min-width: 35%;
     width: auto;
   
   
    height:0;
     position: absolute;
   top: 34px;
    left:-450px;
z-index: -2;
   line-height: 32px;
    font-size: 16px; 
margin: 0 0 10px 0;
border-bottom: 30px solid #bc3b3a;
border-right: 10px solid transparent;
color:white;
padding-left: 1px;
letter-spacing: 1.2;
}
.match-info {
    display:inline-block;
        width: 100%; 
 
}
.team-names {
  display:inline-block;
  margin-left: 10px;

}
.team-scores {
   display:inline-block;
   margin-left: 20px;
}
.map-info {  display:inline-block;
   margin-left: 20px;}
.map-state {
display:inline-block;
margin-left: 20px;
 }
h2 {
  font-size: 15px ;
  color:white;
  margin:0;
  padding:0;
line-height:32px;
  
}
